#title {
  text-align: center;
  font-size: 8rem;
  width: 60%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "o1 o1 o2 o2 ."
    ".  t  t  d  d";
  line-height: 1;
  user-select: none;

  .o1 {
    grid-area: o1;
    text-shadow:
      2px 2px 0 var(--main2),
      4px 4px 0 var(--main2),
      6px 6px 0 var(--main2),
      8px 8px 0 var(--main2),
      10px 10px 0 var(--main2),
      12px 12px 0 var(--main2),
      14px 14px 0 var(--main2);
  }

  .o2 {
    grid-area: o2;
    text-shadow:
      -1px 2px 0 var(--main),
      -2px 4px 0 var(--main),
      -3px 6px 0 var(--main),
      -4px 8px 0 var(--main),
      -5px 10px 0 var(--main),
      -6px 12px 0 var(--main),
      -7px 14px 0 var(--main);
  }

  .t {
    grid-area: t;
    text-shadow:
      1px -2px 0 var(--main3),
      2px -4px 0 var(--main3),
      3px -6px 0 var(--main3),
      4px -8px 0 var(--main3),
      5px -10px 0 var(--main3),
      6px -12px 0 var(--main3),
      7px -14px 0 var(--main3);
  }

  .d {
    grid-area: d;
    text-shadow:
      -2px -2px 0 var(--main2),
      -4px -4px 0 var(--main2),
      -6px -6px 0 var(--main2),
      -8px -8px 0 var(--main2),
      -10px -10px 0 var(--main2),
      -12px -12px 0 var(--main2),
      -14px -14px 0 var(--main2);
  }
}
