.clothing-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
    gap: 12px;
}
.clothing-card {
    display: flex;
    position: relative;
    margin: 0;
    box-sizing: border-box;

    .clothing-text-content {
        display: flex;
        width: 100%;
        /* background-color: rgba(0, 0, 0, 0.414); */
        justify-content: space-between;
        align-items: center;
        text-align: center;
        /* color: white; */
        z-index: 1;
        margin-bottom: 6px;

        .clothing-name {
            font-weight: bold;
            font-size: 1rem;
        }

        span {
            font-size: 0.75rem;
        }
    }
    .clothing-image-grid {
       display: grid;
       align-items: center;
       justify-items: center;
       gap: 1%;

       a {
        display: contents;
       }

       &[data-size="2"] {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
       }

       &[data-size="3"] {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
       }
    }
    .clothing-image-grid img {
        width: 50%;
   }
}
