@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

:root {
  --main: #e64669;
  --main2: #e19eb0;
  --main3: #ed4ec2;
  --accents: #e6dae0;
  --border_accents: #61394c;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Quicksand", sans-serif;
  /* max-width:360px; */
}

#title {
  text-align: center;
}

/* NavBar.module.css */

nav {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-evenly;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: white;
    box-sizing: border-box;
    z-index: 99;
}

main {
    margin-bottom: 15vh;
}

nav a {
  display: contents;
}

nav button {
    background: none;
    border: none;
    border-radius: 44.44%;
    padding: 0;
    height: 100%;
    color: var(--accents);
}

nav button img {
    margin: 0;
    height: 100%;
    
}

nav button:focus {
    background-color: var(--main);

    img {
      filter: invert(100%);
    }
}

.moai {
  animation: spin 0.75s infinite ease-out;
  display: inline-block;
  margin: 0 0.5rem;
}

@keyframes spin {
  from {
    transform: rotateZ(0turn);
  }

  to {
    transform: rotateZ(1turn);
  }
}
