@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

:root {
  --main: #e64669;
  --main2: #e19eb0;
  --main3: #ed4ec2;
  --accents: #e6dae0;
  --border_accents: #61394c;
  --dark_text: #282828;
}

* {
  color: #282828;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Quicksand", sans-serif;
  /* max-width:360px; */
}

/* NavBar.module.css */

nav {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-evenly;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  box-sizing: border-box;
  z-index: 99;
}

main {
  margin-bottom: 15vh;
}

nav a {
  display: contents;
}

nav button {
  background: none;
  border: none;
  border-radius: 44.44%;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
  transition: 0.2s;
}

nav button img {
  margin: 0;
  height: 100%;
  border-radius: 44.44%;
  filter: invert(0.15);
  display: block;
  box-sizing: border-box;
  transition: 0.2s;
}

.page-home ~ nav .home,
.page-new ~ nav .post,
.page-wardrobe ~ nav .wardrobe,
.page-profile ~ nav .user {
  background-color: var(--main);
  border: 2px solid var(--dark_text);
  transition: 0.2s;

  img {
    filter: invert(1);
    transition: 0.2s;
  }
}

.toggle {
  position: relative;
  padding: 2px;
  width: 40px;
  height: 20px;
  -webkit-appearance: none;
  appearance: none;
  background: #c6c6c6;
  outline: none;
  border-radius: 20px;
  box-shadow: inset 0 0 5px rgba(255, 0, 0, 0.2);
  cursor: pointer;
  transition: 0.2s;
}

.toggle:checked {
  background: var(--main3);
}

.toggle:before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  top: 0;
  left: 0;
  background: #ffffff;
  transform: scale(1.1);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: 0.2s;
}

.toggle:checked:before {
  left: 20px;
}
