.post-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;

  .cancel-header {
    width: 100%;
    height: 30px;
    button {
      display: flex;
      float: right;
      background-color: white;
      border: none;
      height: 36px;
      width: 36px;
      align-items: center;
      justify-content: center;
      border-radius: 36px;
      cursor: pointer;
      .cancel-x {
        width: 20px;
        height: 20px;
        padding: 2px;
      }
    }
    button:hover {
      background-color: rgb(173, 176, 193);
      .cancel-x {
        color: white;
      }
      transition: 0.4s;
    }

  }

  #file-upload-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    color: #1b1a29;
    
    .upload-box {
      height: 60px;
      width: 400px;
      padding: 10px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      border: 2px dashed #cacaca;
      border-radius: 5px;
      margin-bottom: 5px;
      cursor: pointer;
    }
    small {
      color: #86859a;
    }
  }
  #file-upload-wrapper:hover {
    .upload-box {
      background-color: #e6e5ed;
    }
    color: rgb(92, 92, 106);
  }

  .new-post-photo {
    max-width: 85%;
    display: grid;
    position: relative;
    margin: 12px 0;

    img {
      max-width: 100%;
      border-radius: 24px;
    }

    .tag {
      height: 20px;
      width: 20px;
      border-radius: 100%;
      background-color: #ffff00cc;
      /* To position at circle center */
      transform: translateX(-50%) translateY(-50%);
      display: flex;
      flex-direction: column;
      align-items: center;
      position: absolute;
      box-shadow: 0 4px 4px #00000080;
    }

    .tooltip {
      position: relative;
      background-color: #000000a0;
      color: #ffffff;
      text-align: center;
      width: max-content;
      padding: 4px 6px;
      border-radius: 6px;
      transform: translateY(-110%);
      font: 0.8rem sans-serif;
    }
  }

  #photo-editor {
    display: none;
    flex-direction: column;

    .settings {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .settings-top {
        display: flex;
        flex-direction: row;
        width: 90%;
        justify-content: space-between;

        
      }
      #file-change-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #393842;
        .upload-box {
          display: flex;
          width: 60px;
          height: 60px;
          border: 2px dashed #cacaca;
          justify-content: center;
          align-items: center;
          border-radius: 60px;
          margin: 2px;
        }
        small {
          padding: 2px;
          color: #86859a;
        }
      }

      #file-change-wrapper:hover {
        .upload-box {
          background-color: #e6e5ed;
        }
      }
      
      
    
      .tag-editor {
        display: flex;
        flex-direction: column;
      }
    
      .button-container {
        display: flex;
        justify-content: space-evenly;
        width: 80%;
      }
    }
    
  }
  .blur {
    position: relative;
    padding: 2px;
    width: 40px;
    height: 20px;
    -webkit-appearance: none;
    appearance: none;
    background: #c6c6c6;
    outline: none;
    border-radius: 20px;
    box-shadow: inset 0 0 5px rgba(255, 0, 0, 0.2);
    cursor: pointer;
    transition: 0.7s;
  }
  
  .blur:checked {
    background: #536fbd;
  }
  
  .blur:before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    top: 0;
    left: 0;
    background: #ffffff;
    transform: scale(1.1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: .5s;
  }
  
  .blur:checked:before {
    left: 20px;
  }
  .blur-contain {
    display: flex;
    flex-direction: column;
    font-size: 10px;
    color: #86859a;

    .blur-label {
      width: 50px;
      text-align: center;
    }
  }

  .add-post-contain {
    width: 100px;
    padding: 5px;
    margin: 5px;
    button {
      cursor: pointer;
      display: flex;
      flex-direction: row;
      width: 40px;
      height: 40px;
      border-radius: 40px;
      border: 2px solid #1b1a29;
      justify-content: center;
      align-items: center;
      margin-left: 20px;

      .add-post-icon {
        width: 18px;
        height: 18px;
        padding: 2px;
      }
      .add-post-header{
        display: none;
        opacity: none;
      }
    }
    button:hover {
      width: 100px;
      transition: 0.4s;
      .add-post-header{
        display: inline;
        opacity: 100%;
        width: 80px;
        overflow-y: hidden;
      }
    }
  }
}
