/* PostItemCard.module.css */
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 8px;
    margin: 8px;
    width: 55%;
    height:580px;
  }

.card img {
  height: 450px;
  width: auto;
}
  
.topContain {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.username {
  text-align: center;
  margin: 0; 
  flex-grow: 1;
  margin: 5px;
}
.caption {
  text-align: center;
  margin: 0; 
  flex-grow: 5;
  margin: 5px 0 0 0;
}

.likeButton {
  border-radius: 20px;
  border: 2px solid #2a2933;
  width: 90px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.likeButton.liked {
  border-radius: 20px;
  border: 2px solid rgb(166, 43, 43);
  width: 90px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(166, 43, 43);
}

.likeButton span {
  color: #2a2933;
  margin: 0 12px 0 0;
}

.likeButton.liked span {
  color: rgb(166, 43, 43);
  margin: 0 12px 0 0;
}

.heart {
  position: relative;
  width: 20px;
  height: 14px;
  margin: 10px 16px 10px 5px;
}

.heart::before, .heart::after {
  content: "";
  position: absolute;
  top: 0;
  width: 10px;
  height: 16px;
  border-radius: 50px 50px 0 0;
  background: rgb(73, 66, 66);
}

.heart::before {
  left: 10px;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
}

.heart::after {
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}
.heart.liked {
  background: rgb(166, 43, 43);
}

.heart.liked::before, .heart.liked::after {
  background: rgb(166, 43, 43);
}

.cardbody {
  display: flex; /* Use flex display to align items in a row */
  flex-direction: column;
  justify-content: space-between; /* Space out items */
  align-items: self-start;
  width: 70%;
}

.cardImgContain {
  background-color: #e6e6e6;
  width: 70%;
  margin: 8px;
  align-items: center;
  border-radius: 10px;
}

.postListContainer {
  display: flex;
  flex-wrap: wrap;
  overflow-x: auto; /* Enables horizontal scrolling */
  gap: 16px; /* Adjust the spacing between items */
  justify-content: flex-start;
  max-width: 1080px;
  align-items: center;
  justify-content: center;
  font-family: system-ui;
}


