.post-container {
    width: 90%;
    display: flex;
    flex-direction: column;

    img {
        display: block;
        max-width: 100%;
        border-radius: 24px;
    }

    .metadata-row {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .post-text-content {
            flex-grow: 3;
        }

        .rating {
            font-weight: bold;
            font-size: 2rem;
            flex-grow: 1;
        }

        button {
            flex-grow: 1;
        }
    }

    .post-footer {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        margin: 12px 0 6px 0;
        align-items: center;
    }

    .rate-text {
        display: flex;
        justify-content: space-between;
        font-weight: bold;
        align-items: baseline;
        margin: 6px 0;

        .rating {
            text-align: right;
            font-size: 1.5rem;
        }
    }
}

.slider {
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    margin: 6px 0;
    touch-action: none;

    .heart-container {
        display: flex;
        border-left: 4px solid var(--accents);
        border-right: 4px solid var(--accents);
        position: relative;
        z-index: 1;

        .heart-border {
            border: 4px solid var(--accents);
            box-sizing: border-box;
            width: 20%;
        }

        .heart {
            width: 100%;
            aspect-ratio: 1;
            background: var(--accents);
            mask: linear-gradient(#000000 0 0) center/cover,
                url("/heart.svg") 50% 60%/contain;
            mask-repeat: no-repeat;
            mask-composite: exclude;
        }
    }

    .fill {
        background: linear-gradient(to right, var(--main), var(--main2), var(--main3));
        height: 100%;
        width: 50%;
        position: absolute;
        left: 0;
        z-index: 0;
    }
}

.comment-section-contain {
    display: flex;
    flex-direction: column;
    margin-top: 12px;
}

.add-comment-form {
    display: flex;
    flex-direction: column;
}

.submit-comment {
    border-radius: 100%;
    border: 2px solid #2a2933;
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;

    .icon {
        width: 18px;
        height: 18px;
    }
}

.comment-box {
    border-radius: 8px;
    padding: 8px;
    border: 1px solid var(--border_accents);
    height: 40px;
}

.submit-button-contain {
    display: flex;
    margin-top: 4px;
}

.post-caption {
    margin: 0;
    padding: 0;
}

.img-tag-container {
    display: block;
    position: relative;
    align-self: center;

    img {
        margin: auto;
    }
}
.comment-container {
    p {
        font-weight: bold;
        margin: 6px 0;
    }

    .comment {
        margin: 2px 0;
        padding: 4px 8px;
        border-radius: 4px;

        &.shaded {
            background-color: #e2e2e2;
        }
    }
}