.post-container {
    width: 90%;
    display: flex;
    flex-direction: column;

    img {
        display: block;
        max-width: 100%;
        border-radius: 24px;
    }

    .metadata-row {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .post-text-content {
            flex-grow: 3;
        }

        .rating {
            font-weight: bold;
            font-size: 2rem;
            flex-grow: 1;
        }

        button {
            flex-grow: 1;
        }
    }
}

.slider {
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    margin: 5px;

    .heart-container {
        display: flex;
        border-left: 4px solid var(--accents);
        border-right: 4px solid var(--accents);
        position: relative;
        z-index: 1;

        .heart-border {
            border: 4px solid var(--accents);
            box-sizing: border-box;
            width: 20%;
        }

        .heart {
            width: 100%;
            aspect-ratio: 1;
            background: var(--accents);
            mask: linear-gradient(#000000 0 0) center/cover,
                url("/heart.svg") 50% 60%/contain;
            mask-repeat: no-repeat;
            mask-composite: exclude;
        }
    }

    .fill {
        background: linear-gradient(to right, var(--main), var(--main2), var(--main3));
        height: 100%;
        width: 50%;
        position: absolute;
        left: 0;
        z-index: 0;
    }
}

.post-footer {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 95%;
    margin: 5px;
    align-items: center;
}

.comment-section-contain {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.add-comment-form {
    display: flex;
    flex-direction: column;
}

.submit-comment {
    display: flex;
    float: right;
    width: 25px;
    height: 25px;
    align-items: center;
    justify-content: center;
    border: 1.5px solid var(--border_accents);
    border-radius: 5px;
}

.comment-box {
    border-radius: 2px;
    border: 1px solid var(--border_accents);
    height: 60px;
}

.submit-button-contain {
    width: 100%;
}

.rate-text {
    margin: 2px;
    padding: 0;
}

.post-caption {
    margin: 0;
    padding: 0;
}

.img-tag-container {
    display: block;
    max-width: 85%;
    position: relative;
    align-self: center;

    img {
        margin: auto;
    }
}
