.post-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;

  .new-post-header {
    font-size: 1.25rem;
  }

  #file-upload-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    color: #1b1a29;

    .upload-box {
      height: 60px;
      width: 100%;
      padding: 10px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      border: 2px dashed #cacaca;
      border-radius: 5px;
      margin-bottom: 5px;
      cursor: pointer;
      box-sizing: border-box;

      &:hover {
        background-color: #e6e5ed;
        color: rgb(92, 92, 106);
      }
    }

    small {
      color: #86859a;
    }
  }

  .new-post-photo {
    max-width: 85%;
    position: relative;
    margin: 12px 0;

    img {
      max-width: 100%;
      border-radius: 24px;
      display: block;
    }
    
    .loading-gif {
      position: absolute;
      left: 35%;
      top: 35%;
      width: 30%;
      z-index: 1;
    }
  }

  #photo-editor {
    display: none;
    flex-direction: column;

    .settings {
      display: grid;
      grid-template-columns: 3fr 2fr;
      grid-template-areas:
        "upload  blur"
        "caption caption"
        "submit  submit";
      align-items: center;
      gap: 8px;
      width: 100%;


      .file-change-wrapper {
        grid-area: upload;
        cursor: pointer;
        justify-self: start;
      }

      .button-container {
        display: flex;
        justify-content: space-evenly;
        width: 80%;
      }

      .blur-contain {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        color: #86859a;
        grid-area: blur;
      }

      .caption {
        color: #6e6e6e;
        margin: 5px;
        font-family: Verdana, sans-serif;
        font-size: 13px;
        grid-area: caption;
      }

      button[type=submit] {
        cursor: pointer;
        display: flex;
        height: 40px;
        border-radius: 40px;
        border: 2px solid #1b1a29;
        justify-content: center;
        align-items: center;
        grid-area: submit;
        justify-self: center;
        transition: 0.3s;
        padding: 2px 8px;
        min-width: 40px;

        .add-post-icon {
          width: 18px;
          height: 18px;
        }

        .add-post-header {
          width: 0px;
          white-space: nowrap;
          overflow: hidden;
          text-align: right;
          transition: 0.3s;
        }

        &:hover:not([disabled]) {
          transition: 0.3s;
          border-color: var(--border_accents);
          background-color: var(--main);
          color: var(--accents);

          .add-post-header {
            margin-left: 4px;
            width: 60px;
            transition: 0.3s;
          }
        }
      }
      button:disabled,
      button[disabled] {
        background-color: #6e6e6e;
      }
    }
  }

  .image-tags {
    display: flex;
    flex-direction: column;
    align-items: center;

    .tag-editor {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}

.tag {
  height: 20px;
  width: 20px;
  border-radius: 100%;
  background-color: #ffff00cc;
  /* To position at circle center */
  transform: translateX(-50%) translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  box-shadow: 0 4px 4px #00000080;
}

.tooltip {
  position: relative;
  background-color: #000000a0;
  color: #ffffff;
  text-align: center;
  width: max-content;
  padding: 4px 6px;
  border-radius: 6px;
  transform: translateY(-110%);
  font: 0.8rem sans-serif;
}
